<% provide(:title, 'All Users') %>
<h1><%= params[:query].present? ? '検索結果' : '全てのユーザー' %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-offset-8 col-md-4 text-right">
      <label for="query">ユーザー名検索</label>
      <%= form_tag(users_path, method: :get) do %>
        <%= text_field_tag(:query, params[:query], placeholder: 'キーワードを入力…') %>
        <%= submit_tag('検索') %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">


    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="center">|</td>

        <td class="center">
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true  %>
            <%= " | " %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>